<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="navbar shadow">
        <button class="c-hamburger c-hamburger--htla is-active" ng-click="extend()">
            <span>
                toggle menu
            </span>
        </button>
        <div class="responsive-logo">
            The Hottseat<br/>
            <span class="smaller">Dashboard</span>
        </div>
        <nav class="right" style="margin-right: 20px; margin-top: 10px;">
            <md-button ng-hide="code === 1" ng-click="openPendingRequests($event);" class="md-icon-button" style="position:relative;overflow:visible" aria-label="RTL" type="button">
                <i class="mdi mdi-account-box"></i>
                <md-button ng-show="pending_requests.length > 0" class="md-fab md-warn md-mini"
                           style="position:absolute;top:-15px;left:0;transform:scale(0.6);font-size:17px"
                           aria-label="">{{pending_requests.length}}</md-button>
            </md-button>
            <md-menu class="md-menu" md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <div class="mdl-badge" data-badge="7">
                        <i class="mdi mdi-dots-vertical"></i>
                    </div>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="Logout();"> <span md-menu-align-target>logout</span> </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </nav>
    </header>
    <aside class="sidebar">
        <div class="top-logo">TH</div>
        <div class="top-logo-extended">
            The Hottseat
            <br/>
            <span class="smaller"></span>
        </div>
        <div class="scrollbar" id="scroll">
            <div class="user-info">
                <div class="opacity">
                    <a>
                        <img ng-src="{{logged_user.avatar.url}}" alt="profile" class="sidebar-profile">
                    </a>
                    <div class="info">
                        {{logged_user.name}}
                        <br/>
                        <span ng-if="logged_user.brand && logged_user.type !== 'questioner'" class="smaller">Admin - {{logged_user.brand.title}}</span><br/>
                        <!--<span ng-if="logged_user.brand && logged_user.type === 'questioner'" class="smaller">{{logged_user.email}}</span><br/>-->
                        <span ng-if="logged_user.type" class="smaller">{{logged_user.type}}</span>
                        <div style="cursor:pointer;" ui-sref="editAdmin({id: '{{logged_user._id}}'})" class="pen">
                            <span>
                                <a><i class="mdi mdi-border-color"></i></a>
                           </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-menu">
                <ul class="menu-list">

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" ng-class="{active: $state.includes('home')}">
                        <a class="md-button md-ink-ripple" aria-label="Home" href="#/app/dashboard/home" ui-sref="home">
                            <i class="mdi mdi-home"></i>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Admin" ng-click="subnav('ser')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='ser'}"></i>
                            <i class="mdi mdi-settings"></i>
                            <span class="text">Services</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='ser'}">
                            <li ng-class="{active: $state.includes('services')}">
                                <a class="md-button md-ink-ripple" aria-label="Services" href="#/app/dashboard/services" ui-sref="services">
                                    <span class="text">Add / view Services</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Admin" ng-click="subnav('ad')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='ad'}"></i>
                            <i class="mdi mdi-account"></i>
                            <span class="text">Admin</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='ad'}">
                            <li ng-class="{active: $state.includes('addAdmin')}">
                                <a class="md-button md-ink-ripple" aria-label=">Register Admin" href="#/app/dashboard/addAdmin" ui-sref="addAdmin">
                                    <span class="text">Register Admin</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('administrators')}">
                                <a class="md-button md-ink-ripple" aria-label=">Administrators" href="#/app/dashboard/administrators" ui-sref="administrators">
                                    <span class="text">Administrators</span>
                                </a>
                            </li>
                            <!--<li ng-hide="logged_user.brand.title !== 'Generic'" ng-class="{active: $state.includes('account')}">-->
                                <!--<a class="md-button md-ink-ripple" aria-label=">Account" href="#/app/dashboard/account" ui-sref="account">-->
                                    <!--<span class="text">Account</span>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Admin" ng-click="subnav('que')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='que'}"></i>
                            <i class="mdi mdi-account"></i>
                            <span class="text">Questioners</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='que'}">
                            <li ng-class="{active: $state.includes('addQuestioner')}">
                                <a class="md-button md-ink-ripple" aria-label=">Register Questioner" href="#/app/dashboard/addQuestioner" ui-sref="addQuestioner">
                                    <span class="text">Register Questioner</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('questioners')}">
                                <a class="md-button md-ink-ripple" aria-label=">Questioners" href="#/app/dashboard/questioners" ui-sref="questioners">
                                    <span class="text">Questioners</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Brand" ng-click="subnav('br')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='br'}"></i>
                            <i class="mdi mdi-gamepad-variant"></i>
                            <span class="text">Games</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='br'}">
                            <li ng-class="{active: $state.includes('AddBrand')}">
                                <a class="md-button md-ink-ripple" aria-label=">Register Brand" href="#/app/dashboard/AddBrand" ui-sref="AddBrand">
                                    <span class="text">Register Game</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('brands')}">
                                <a class="md-button md-ink-ripple" aria-label=">View Brands" href="#/app/dashboard/brands" ui-sref="brands">
                                    <span class="text">View Games</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Brand" ng-click="subnav('cat')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='cat'}"></i>
                            <i class="mdi mdi-menu"></i>
                            <span class="text">Categories</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='cat'}">
                            <li ng-class="{active: $state.includes('addCategory')}">
                                <a class="md-button md-ink-ripple" aria-label=">Register Category" href="#/app/dashboard/addCategory" ui-sref="addCategory">
                                    <span class="text">Register Category</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('categories')}">
                                <a class="md-button md-ink-ripple" aria-label=">Categories" href="#/app/dashboard/categories" ui-sref="categories">
                                    <span class="text">Categories</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Brand" ng-click="subnav('tm')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='tm'}"></i>
                            <i class="mdi mdi-account-multiple"></i>
                            <span class="text">Teams</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='tm'}">
                            <li ng-class="{active: $state.includes('add-team')}">
                                <a class="md-button md-ink-ripple" aria-label=">Add Team" href="#/app/dashboard/add-team" ui-sref="add-team">
                                    <span class="text">Add Team</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('teams')}">
                                <a class="md-button md-ink-ripple" aria-label=">Teams" href="#/app/dashboard/teams" ui-sref="teams">
                                    <span class="text">Teams</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'" class="show-subnav">
                        <a class="show-menu md-button md-ink-ripple" aria-label="Brand" ng-click="subnav('as')" href="">
                            <i class="mdi mdi-chevron-down" ng-class="{'active': showingSubNav=='as'}"></i>
                            <i class="mdi mdi-account-multiple"></i>
                            <span class="text">Assets</span>
                        </a>
                        <ul  class="sub-menu" ng-class="{'visible': showingSubNav=='as'}">
                            <li ng-class="{active: $state.includes('add-asset')}">
                                <a class="md-button md-ink-ripple" aria-label=">Add Asset" href="#/app/dashboard/add-asset" ui-sref="add-asset">
                                    <span class="text">Add Asset</span>
                                </a>
                            </li>
                            <li ng-class="{active: $state.includes('assets')}">
                                <a class="md-button md-ink-ripple" aria-label=">Teams" href="#/app/dashboard/assets" ui-sref="assets">
                                    <span class="text">Assets</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin' || logged_user.type ==='Service Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Notifications" href="#/app/dashboard/notifications" ui-sref="notifications">
                            <i class="mdi mdi-bell-ring"></i>
                            <span class="text">Notifications</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'  || logged_user.type ==='Service Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Users" href="#/app/dashboard/users" ui-sref="users">
                            <i class="mdi mdi-account-multiple"></i>
                            <span class="text">Users</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'  || logged_user.type ==='Service Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Users" href="#/app/dashboard/sms" ui-sref="sms">
                            <i class="mdi mdi-account-multiple"></i>
                            <span class="text">SMS</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'  || logged_user.type ==='Service Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Sessions" href="#/app/dashboard/sessions" ui-sref="sessions">
                            <i class="mdi mdi-account-multiple"></i>
                            <span class="text">Sessions</span>
                        </a>
                    </li>
                    <!-- I added this -->
                    <li ng-show="logged_user.type ==='Super Admin'">
                        <a class="md-button md-ink-ripple" aria-label="promo" href="#/app/dashboard/promo" ui-sref="promo">
                            <i class="mdi mdi-keyboard"></i>
                            <span class="text">Welcome PopUp</span>
                        </a>
                    </li>
                    <!-- //////////////// -->
                    <li ng-show="logged_user.type ==='Super Admin'">
                        <a class="md-button md-ink-ripple" aria-label="subscriptions" href="#/app/dashboard/subscriptions" ui-sref="subscriptions">
                            <i class="mdi mdi-check-all"></i>
                            <span class="text">Subscription</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Power Points" href="#/app/dashboard/power-ups" ui-sref="power-ups">
                            <i class="mdi mdi-flash"></i>
                            <span class="text">Prize Pool</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type ==='Super Admin'">
                        <a class="md-button md-ink-ripple" aria-label="Theme" href="#/app/dashboard/theme_1" ui-sref="theme_1">
                            <i class="mdi mdi-theme"></i>
                            <span class="text">Theme</span>
                        </a>
                    </li>

                    <li ng-show="logged_user.type === 'questioner'">
                        <a class="md-button md-ink-ripple" aria-label="Categories" href="#/app/dashboard/myCategories" ui-sref="myCategories({myId: '{{logged_user._id}}'})">
                            <i class="mdi mdi-menu"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </aside>
    <main class="content-holder">
        <div class="page-content remodal-bg animsition" ng-class="{expandedContainer: $state.includes('profile')}">
            <div ui-view></div>
        </div>
    </main>
</div>
